# Web Framework
Flask==3.1.2
Flask-Cors==3.0.10

# Database
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4

# File uploads & forms
Flask-Uploads==0.2.1
Flask-WTF==1.1.1

# Werkzeug & utilities
Werkzeug==2.3.7
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7
python-dotenv==1.0.0

# Image processing
Pillow==9.5.0
